@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-container{
   
}
.element {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}
.element.is-visible {
  opacity: 1;
  transform: translateY(0);
}